<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <!-- 
 	명령을 전달하기 위한 파일 
 	namespace : 영역을 부르는 별칭
 	parameterType : 이 명령을 실행하기 위해 필요한 데이터의 형태
 	resultType : 기대되는 결과물의 형태 (목록이든 아니든 dto 형태로 표기)
 	
 	부등호(<,>,=)를 쓰고 싶다면 
 	<![CDATA[
 	이곳에 명령어를 넣는다
 	]]> 
	
	형태에 따라 파라미터를 다르게 설정할 수 있다
	- #은 형태를 추론해 자동으로 따옴표 설정 및 인코딩 처리를 수행
	- $는 값을 있는 그대로 출력하는 명령이므로 주로 "항목"에 사용
		-$의 경우 SQL Injection 이라는 해킹 공격에 매우 취약하므로 사용에 주의
 -->
 
 <mapper namespace="admin"> <!-- 이건 꼭 있어야한다 -->
 	<!-- 로그인을 위한 아이디 불러오기 -->
 	<select id="getId" parameterType="adminDto" resultType="adminDto">
 		select * from admin where admin_id = #{admin_id}
 	</select>
 	
 	<!-- 관리자 가입시키기 -->
	<insert id="insert" parameterType="adminDto">
		insert into admin values(
							admin_seq.nextval,	
							#{admin_id},
							#{admin_pw},
							#{admin_name},
							#{admin_email},
							'일반관리자',
							sysdate,
							sysdate)
	</insert>
	
	<!-- 최종로그인 일시 변동 -->
	<update id="lastLogin" parameterType="adminDto">
		update admin set admin_last_login = sysdate
	</update>
	
	<!-- 관리자 리스트 뽑아오기 -->
	<select id="getList" resultType="adminDto">
<!-- 		select * from admin where admin_grade = '일반관리자' -->
		select * from(
			select rownum rn, A.* from(
				select * from admin where admin_grade = '일반관리자' order by admin_no desc
			)A
		)where rn between #{startList} and #{listSize}
	</select>
	
	<select id="getBoardListCnt" resultType="int">
		select 
			count(*) 
		from 
			admin
	</select>
		
	<!-- 총 관리자 갯수 출력 -->
	<select id="countBoard" resultType="int">
		select count(*) from admin where admin_grade ='일반관리자'
	</select>	
		
	<select id="selectBoard" parameterType="paging" resultType="adminDto">
			select * from(
			select rownum rn, A.* from(
				select * from admin where admin_grade = '일반관리자' order by admin_no desc
			)A
		)where rn between #{start} and #{finish}
	</select>	
	
	<!-- 관리자 삭제 -->
	<delete id="delete" parameterType="adminDto">
		delete admin where admin_no = #{admin_no}
	</delete>
	
	<!-- 판매자 리스트 불러오기 -->
	<select id="sellerGetList" parameterType="paging" resultType="blockSellerDto">
		select * from(
			select rownum rn, A.* from(
				select 
					a.seller_no, a.seller_id, a.seller_name, a.seller_email, a.seller_phone, a.seller_birth, a.seller_addr_post, a.seller_addr_basic,
					a.seller_addr_extra, a.seller_store_name, a.seller_store_phone, a.seller_store_fax, seller_join_date, seller_last_login, a.seller_agree_date, a.seller_cid, a.seller_bank_code,
					a.seller_bank_account, a.seller_bank_username, a.seller_bank_birth, a.seller_grade, b.block_no
				from seller a left outer join block b on a.seller_no = b.seller_no 
				<choose>
					<when test='key == "seller_id"'>
						where seller_id like '%'||#{search}||'%' 
					</when>
					<when test='key == "seller_grade"'>
						where seller_grade like '%'||#{search}||'%' 
					</when>
				</choose>
				order by seller_no desc 
			)A
		)where rn between #{start} and #{finish}
	</select>
	
	<!-- 판매자 단일 조회 -->
	<select id="sellerGetOne" parameterType="sellerDto" resultType="sellerDto">
		select * from seller where seller_no = #{seller_no}
	</select>
	
	<!-- 판매자 삭제 -->
	<delete id="sellerDelete" parameterType="sellerDto">
		delete seller where seller_no = #{seller_no}
	</delete>
	
	<!-- 판매자 목록 총 갯수 가져오기 -->
	<select id="sellerCount" resultType="int">
		select count(*) from seller 
	</select>	
	
	<!-- 판매자 아이디 검색 카운트 -->
	<select id="sellerIdCount" parameterType="String" resultType="int">
		select count(*) from seller where seller_id like '%'||#{seller_id}||'%'
	</select>
	
	<!-- 판매자 등급 검색 카운트 -->
	<select id="sellerGradeCount" parameterType="String" resultType="int">
		select count(*) from seller where seller_grade like '%'||#{seller_grade}||'%'
	</select>
	
	<!-- 카테고리 리스트 불러오기 -->
	<select id="sellerGetCategoryList" parameterType="paging" resultType="categoryDto">
		select * from(
			select rownum rn, A.* from(
				select * from category 
				order by category_large desc,
				category_middle, 
				category_small
			)A
		)where rn between #{start} and #{finish}
	</select>
	<!-- 카테고리 목록 총 갯수 가져오기 -->
	<select id="categoryCount" resultType="int">
		select count(*) from category 
	</select>	
	<!-- 카테고리 등록하기 -->
	<insert id="categoryInsert" parameterType="categoryDto">
		insert into category values(
					category_seq.nextval,
					#{category_large}, 
					#{category_middle}, 
					#{category_small})
	</insert>
	<!-- 카테고리 수정하기 -->
	<update id="categoryUpdate" parameterType="categoryDto">
		update category set 
			category_large = #{category_large},
			category_middle = #{category_middle},
			category_small = #{category_small}
		where
			category_no = #{category_no}
			
	</update>
	<!-- 카테고리 삭제하기 -->
	<delete id="categoryDelete" parameterType="int">
		delete category where category_no = #{category_no}
	</delete>
	
	<!-- 회원 리스트 -->
	<select id="memberGetList" parameterType="Paging" resultType="blockMemberDto">
		select * from(
			select rownum rn, A.* from(
				select a.member_no, a.member_id, a.member_name, a.member_email, a.member_phone, a.member_birth, a.member_join_date, a.member_last_login,
				    a.member_agree_date, a.member_grade, b.block_no
				from member a left outer join block b on a.member_no = b.member_no
				<choose>
					<when test='key == "member_id"'>
						where member_id like '%'||#{search}||'%' 
					</when>
					<when test='key == "member_grade"'>
						where member_grade like '%'||#{search}||'%' 
					</when>
					<when test='key == "member_name"'>
						where member_name like '%'||#{search}||'%' 
					</when>
				</choose>
				order by a.member_no desc
			)A
		)where rn between #{start} and #{finish}
	</select>
	
	<!-- 회원 단일 조회 -->
	<select id="memberGetOne" parameterType="memberDto" resultType="memberDto">
		select * from member where member_no = #{member_no}
	</select>
	
	<!-- 회원 삭제하기 -->
	<delete id="memberDelete" parameterType="memberDto">
		delete member where member_no = #{member_no}
	</delete>	
	
	<!-- 회원 총 갯수 -->
	<select id="memberCount" resultType="int">
		select count(*) from member
	</select>
	
	<!-- 오늘 가입한 회원 -->
	<select id="registTodayMember" resultType="int">
		select count(*) from member where member_join_date like '%'||to_date(sysdate, 'YYYY-MM-DD')||'%'
	</select>
	
	<!-- 오늘 가입한 판매자 -->
	<select id="registTodaySeller" resultType="int">
		select count(*) from seller where seller_join_date like '%'||to_date(sysdate, 'YYYY-MM-DD')||'%'
	</select>
	
	<!-- 회원 아이디 총 갯수 -->
	<select id="memberIdCount" parameterType="String" resultType="int">
		select count(*) from member where member_id like'%'||#{member_id}||'%'
	</select>
	
	<!-- 회원 이름 총 갯수 -->
	<select id="memberNameCount" parameterType="String" resultType="int">
		select count(*) from member where member_name like'%'||#{member_name}||'%'
	</select>
	
	<!-- 회원 등급 총 갯수 -->
	<select id="memberGradeCount" parameterType="String" resultType="int">
		select count(*) from member where member_grade like'%'||#{member_grade}||'%'
	</select>
	
	<!-- 수수료 리스트 -->
	<select id="premiumGetList" resultType="premiumDto">
		select * from premium order by premium_price desc
	</select>
	
	<!-- 수수료 추가 -->
	<insert id="premiumInsert" parameterType="premiumDto">
		insert into premium values(premium_seq.nextval, #{premium_price}, #{premium_rate})
	</insert>
	
	<!-- 수수료 변경 -->
	<update id="premiumUpdate" parameterType="premiumDto">
		update premium 
			set 
				premium_price = #{premium_price}, 
				premium_rate = #{premium_rate}
			where
				premium_no = #{premium_no}
	</update>
	
	<!-- 수수료 삭제 -->
	<delete id="premiumDelete" parameterType="premiumDto">
		delete premium where premium_no = #{premium_no}
	</delete>
	
	<!-- 관리문의게시판 리스트 뽑기 -->
	<select id="adminQnaGetList" resultType="adminQnaDto">
		select * from(
			select rownum rn, A.* from (
				select * from admin_qna 
				<choose>
					<when test='key == "admin_qna_title"'>
						where admin_qna_title like '%'||#{search}||'%' 
					</when>
					<when test='key == "admin_qna_head"'>
						where admin_qna_head like '%'||#{search}||'%' 
					</when>
				</choose>
				connect by prior admin_qna_no=super_no 
				start with super_no is null 
				order siblings by group_no desc, admin_qna_no asc
			)A
		) where rn between #{start} and #{finish}
	</select>
	
	<!-- 관리문의게시판 총 갯수 구하기 -->
	<select id="adminQnaCount" resultType="int">
		select count(*) from admin_qna
	</select>
	
	<!--  관리문의게시판 타이틀로 총 갯수 구하기 -->
	<select id="adminQnaTitleCount" parameterType="String" resultType="int">
		select count(*) from admin_qna where admin_qna_title like '%'||#{admin_qna_title}||'%'
	</select>
	
	<!--  관리문의게시판 헤드로 총 갯수 구하기 -->
	<select id="adminQnaHeadCount" parameterType="String" resultType="int">
		select count(*) from admin_qna where admin_qna_head like '%'||#{admin_qna_head}||'%'
	</select>
	
	<!-- 관리문의게시판 글 상세보기 1개 뽑기 -->
	<select id="adminQnaGetOne" parameterType="adminQnaDto" resultType="adminQnaDto">
		select * from admin_qna where admin_qna_no = #{admin_qna_no}
	</select>
	
	<!-- 관리문의게시판 새글쓰기 -->
	<insert id="adminQnaNewWrite" parameterType="adminQnaDto">
		insert into admin_qna(
			admin_qna_no,
			admin_no,
			admin_qna_content,
			admin_qna_title,
			admin_qna_writer,
			admin_qna_date,
			admin_qna_head,
			group_no,
			admin_qna_usertype
		) values(
			admin_qna_seq.nextval, 
			#{admin_no},
			#{admin_qna_content},
			#{admin_qna_title},
			#{admin_qna_writer},
			sysdate,
			#{admin_qna_head},
			admin_qna_seq.nextval,
			'관리자'
		)
	</insert>
	
	<!-- 관리문의게시판 답글쓰기 -->
	<insert id="adminQnaSecondWrite" parameterType="adminQnaDto">
		insert into admin_qna(
			admin_qna_no,
			admin_no,
			admin_qna_content,
			admin_qna_title,
			admin_qna_writer,
			admin_qna_date,
			admin_qna_head,
			group_no,
			super_no,
			admin_qna_usertype
		) values(
			admin_qna_seq.nextval, 
			#{admin_no},
			#{admin_qna_content},
			#{admin_qna_title},
			#{admin_qna_writer},
			sysdate,
			#{admin_qna_head},
			#{group_no},
			#{super_no},
			'관리자'
		)
	</insert>
	
	<!-- qna 글 수정 관리자용 -->
	<update id="qnaBoardUpdate"  parameterType="adminQnaDto">
		update admin_qna 
			set 
				admin_qna_title = #{admin_qna_title},
				admin_qna_content = #{admin_qna_content},
				admin_qna_date = sysdate
			where
				admin_qna_no = #{admin_qna_no}
	</update>
	
	<!-- qna글 삭제 -->
	<delete id="qnaBoardDelete" parameterType="adminQnaDto">
		delete admin_qna where admin_qna_no = #{admin_qna_no}
	</delete>
	
	<!-- 회원 개인 포인트 총합 -->
	<select id="pointSumMember" parameterType="point" resultType="int">
		select sum(member_point_change) from member_point where member_no = #{member_no}
	</select>
	
	<!-- 회원 개인 포인트 목록 갯수 구해오기 -->
	<select id="pointMemberCount" parameterType="point" resultType="int">
		select count(*) from member_point where member_no = #{member_no}
	</select>
	
	<!-- 회원 포인트 조회 --> 
	<select id="pointMember" parameterType="paging" resultType="point">
		select * from(
			select rownum rn, A.* from(
				select 
						*
				from 
						member_point
				where member_no = #{member_no}
				order by member_point_date
			)A
		)where rn between #{start} and #{finish}
	</select>
	
	<!-- 회원 포인트 삭제 -->
	<delete id="pointDelete" parameterType="int">
		delete member_point where member_point_no = #{member_point_no}
	</delete>
	
	<!-- 회원 포인트 추가 -->
	<insert id="pointRegist" parameterType="point">
		insert into member_point 
			values(
				member_point_seq.nextval, 
				#{member_point_status},
				sysdate,
				#{member_point_limit},
				#{member_point_change},
				#{member_point_content},
				#{member_no}
				)
	</insert>
	
	<!-- resultMap을 써보자... -->
	<resultMap type="goodsVO" id="getGoodsVO">
		<result column="goods_no" property="goods_no"/>
		<result column="seller_no" property="seller_no"/>
		<result column="goods_name" property="goods_name"/>
		<result column="goods_price" property="goods_price"/>
		<result column="goods_discount_price" property="goods_discount_price"/>
		<result column="goods_discount_start" property="goods_discount_start"/>
		<result column="goods_discount_finish" property="goods_discount_finish"/>
		<result column="goods_stock" property="goods_stock"/>
		<result column="goods_status" property="goods_status"/>
		<result column="goods_content" property="goods_content"/>
		<result column="category_no" property="category_no"/>
	
		<collection property="goodsOptionList" 
						javaType="list"
						ofType="goodsOptionDto"
						select="getGoodsOption"
						column="goods_no"
						></collection>	
	</resultMap>
	
		<!-- 그냥 상품 불러오기 -->
		<select id="goodsList" parameterType="paging" resultType="goodsCategoryVO">
		select * from(
			select rownum rn, A.* from(
				select d.*, c.seller_id, c.seller_name, c.seller_email, c.seller_phone, 
				c.seller_birth, c.seller_addr_post, c.seller_addr_basic, c.seller_addr_extra, c.seller_store_name
				, c.seller_store_phone, c.seller_store_fax, c.seller_grade
				from seller c right outer join 
				(select a.*, b.category_large, b.category_middle, 
				b.category_small from goods a left outer join category b on a.category_no = b.category_no) 
				d on c.seller_no = d.seller_no
				<choose>
					<when test='key == "goods_name"'>
						where goods_name like '%'||#{search}||'%' 
					</when>
					<when test='key == "seller_id"'>
						where seller_id like '%'||#{search}||'%' 
					</when>
				</choose>
				order by d.goods_no
			)A
		)where rn between #{start} and #{finish}
		
		
		</select>
		
		<!-- 그냥 상품 카운트 구하기 -->
		<select id="goodsCount" resultType="int">
		select count(*)
			from seller c right outer join 
				(select * from goods a left outer join category b on a.category_no = b.category_no) 
				d on c.seller_no = d.seller_no
		</select>
		
		<!-- 상품 이름으로 카운트 구하기 -->
		<select id="goodsNameCount" parameterType="String" resultType="int">
		select count(*)
			from seller c right outer join 
				(select * from goods a left outer join category b on a.category_no = b.category_no) 
				d on c.seller_no = d.seller_no 
			where goods_name like '%'||#{goods_name}||'%'
		</select>
		<!-- 판매자 아이디로 카운트 구하기 -->
			<select id="goodsIdCount" parameterType="String" resultType="int">
		select count(*)
			from seller c right outer join 
				(select * from goods a left outer join category b on a.category_no = b.category_no) 
				d on c.seller_no = d.seller_no 
			where seller_id like '%'||#{seller_id}||'%'
		</select>
		
		
		<!-- 상품 삭제 -->
		<delete id="goodsDelete" parameterType="goodsVO">
			delete goods where goods_no = #{goods_no}
		</delete>
		
	<!-- resultMap사용해 상품 불러오기 -->
		<select id="getGoodsVO" parameterType="int"  resultMap="getGoodsVO">
			select * from goods where goods_no = #{goods_no}
		</select>
	
		<select id="getGoodsOption" parameterType="int" resultType="goodsOptionDto">
			select * from goods_option where goods_no = #{goods_no}
		</select>
		
	<!-- 회원 및 판매자 차단하기 -->
		<insert id="block" parameterType="blockDto">
			insert into 
				block(
					block_no,
					block_content,
					block_id,
					block_group,
					block_date,
					<choose>
						<when test="member_no !=0">
						member_no
						</when>
						<otherwise>
						seller_no
						</otherwise>
					</choose>
				) 
			values(
				block_seq.nextval,
				#{block_content},
				#{block_id},
				#{block_group},
				sysdate,
				<choose>
					<when test="member_no != 0">
						#{member_no}
					</when>
					<otherwise>
						#{seller_no}
					</otherwise>
				</choose>
				
						)
		</insert>
	
	<!-- 차단된 회원 목록 불러오기 -->
	<select id="blockList" parameterType="paging" resultType="blockDto">
		select * from(
			select rownum rn, A.* from(
				select * from block
				<choose>
					<when test='key == "block_group"'>
						where block_group like '%'||#{search}||'%' 
					</when>
					<when test='key == "block_id"'>
						where block_id like '%'||#{search}||'%' 
					</when>
				</choose>
				order by block_no desc
			)A
		)where rn between #{start} and #{finish}
	</select>
	
	<!-- 차단 회원 목록 총 수 -->
	<select id="blockCount" resultType="int">
		select count(*) from block
	</select>
	
	<!-- 차단 회원 블록 그룹으로 계산 -->
	<select id="blockGroupCount" parameterType="String" resultType="int">
		select count(*) from block where block_group like '%'||#{block_group}||'%'
	</select>
	<!-- 차단 회원 블록 아이디로 계산 -->
	<select id="blockIdCount" parameterType="String" resultType="int">
		select count(*) from block where block_id like '%'||#{block_id}||'%'
	</select>
	
	<!-- 차단 해제 -->
	<delete id="blockDelete" parameterType="blockDto">
		delete block where block_no = #{block_no}
	</delete>
	
	<!-- 일일 접속자 차트 목록 구해오기 -->
	<select id="userDaily" resultType="connectList">
		select * from connecting
	</select>
	
	<!-- 상품 review 불러오기 상품별 -->
	<select id="reviewList" parameterType="int" resultType="review">
		select 
				a.*, b.goods_review_reply_writer, b.goods_review_reply_content, b.goods_review_reply_date, b.goods_review_reply_no 
			from goods_review a 
        		left outer join goods_review_reply b 
       			 on a.goods_review_no = b.goods_review_no where a.goods_no = #{goods_no}
	</select>
	
 </mapper> 
	
 