<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd"> 
 
 <configuration><!-- 이건 꼭 있어야 한다 -->
	<!-- 기본 운영 설정 -->
 	<settings>
 		<setting name="cacheEnabled" value="true"/>
 		<setting name="defaultStatementTimeout" value="10000"/>
 	</settings>
 	
 	<!-- 별칭-->
 	<typeAliases>
<!--  		<typeAlias type="com.kh.sts17.entity.MemoDto" alias="memoDto"/> -->
		<typeAlias type="com.kh.admin.entity.AdminDto" alias="adminDto"/>
		<typeAlias type="com.kh.admin.vo.PagingVO" alias="paging"/>
		<typeAlias type="com.kh.admin.entity.SellerDto" alias="sellerDto"/>
 		<typeAlias type="com.kh.admin.entity.CategoryDto" alias="categoryDto"/>
 		<typeAlias type="com.kh.admin.entity.MemberDto" alias="memberDto"/>
 		<typeAlias type="com.kh.admin.entity.PremiumDto" alias="premiumDto"/>
 		<typeAlias type="com.kh.admin.entity.AdminQnaBoardDto" alias="adminQnaDto"/>
 		<typeAlias type="com.kh.admin.vo.MemberPointVO" alias="point"/>
 		<typeAlias type="com.kh.admin.entity.GoodsDto" alias="goodsDto"/>
 		<typeAlias type="com.kh.admin.entity.GoodsOptionDto" alias="goodsOptionDto"/>
 		<typeAlias type="com.kh.admin.vo.GoodsVO" alias="goodsVO"/>
		<typeAlias type="com.kh.admin.vo.SellerGoodsVO" alias="sellerGoodsVO"/> 	
 		<typeAlias type="com.kh.admin.entity.BlockDto" alias="blockDto"/>
 		<typeAlias type="com.kh.admin.vo.BlockMemberVO" alias="blockMemberDto"/>
 		<typeAlias type="com.kh.admin.vo.BlockSellerVO" alias="blockSellerDto"/>
 		<typeAlias type="com.kh.admin.vo.GoodsCategoryVO" alias="goodsCategoryVO"/>
 	</typeAliases>
 </configuration>