<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                       
	http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
	
	<!-- 
		UTF-8 필터를 등록
		- 내가 만든 것이 아니라 스프링에서 제공해주는 것으로 설정
		- org.springframework.web.filter.CharacterEncodingFilter
	-->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<listener> 
	   <listener-class>com.kh.ordering.action.VisitCounter</listener-class> 
	</listener> 


	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>sellerFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.DelegatingFilterProxy
		</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>sellerFilter</filter-name>
		<url-pattern>/seller/management</url-pattern>
		<url-pattern>/seller/info</url-pattern>
		<url-pattern>/seller/info_edit</url-pattern>
		<url-pattern>/seller/check_pw</url-pattern>
		<url-pattern>/seller/change_pw_success</url-pattern>
		<url-pattern>/seller/delete</url-pattern>
		<url-pattern>/seller/customOrder</url-pattern>
		<url-pattern>/seller/customSuccess</url-pattern>
		<url-pattern>/seller/customListReq</url-pattern>
		<url-pattern>/seller/customInfoReq</url-pattern>
		<url-pattern>/seller/customListResp</url-pattern>
		<url-pattern>/seller/updateResp</url-pattern>
		<url-pattern>/seller/deleteReq</url-pattern>
		<url-pattern>/seller/deleteResp</url-pattern>
		<url-pattern>/seller/category_insert</url-pattern>
		<url-pattern>/seller/category_info</url-pattern>
		<url-pattern>/seller/category_update</url-pattern>
		<url-pattern>/seller/category_delete</url-pattern>
		<url-pattern>/seller/portfolio_insert</url-pattern>
		<url-pattern>/seller/regist_success</url-pattern>
		<url-pattern>/seller/change_pw</url-pattern>
		<url-pattern>/seller/change_pw_success</url-pattern>
		<url-pattern>/seller/main</url-pattern>
		
		<url-pattern>/goods/insert</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>memberFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.DelegatingFilterProxy
		</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>memberFilter</filter-name>
		<url-pattern>/member/cart</url-pattern>
		<url-pattern>/member/memberdelete</url-pattern>
		<url-pattern>/member/logout</url-pattern>
		<url-pattern>/member/memberinfo</url-pattern>
		<url-pattern>/member/memberchange_pw</url-pattern>
		<url-pattern>/member/editmember</url-pattern>
		<url-pattern>/member/addrinfo</url-pattern>
		<url-pattern>/member/addrupdate</url-pattern>
		<url-pattern>/member/addrdelete</url-pattern>
		<url-pattern>/member/addrpage</url-pattern>
		<url-pattern>/member/insertaddr</url-pattern>
		<url-pattern>/member/pointinfo</url-pattern>
		<url-pattern>/member/membermyinfo</url-pattern>
		<url-pattern>/member/memberInfoAside</url-pattern>
		<url-pattern>/member/sellerPick</url-pattern>
		<url-pattern>/member/bestPick</url-pattern>
		<url-pattern>/member/customCate</url-pattern>
		<url-pattern>/member/customCate</url-pattern>
		<url-pattern>/member/customOrder</url-pattern>
		<url-pattern>/member/customSuccess</url-pattern>
		<url-pattern>/member/customListResp</url-pattern>
		<url-pattern>/member/customListReq</url-pattern>
		<url-pattern>/member/customInfoReq</url-pattern>
		<url-pattern>/member/updateReq</url-pattern>
		<url-pattern>/member/deleteReq</url-pattern>
		<url-pattern>/member/deleteResp</url-pattern>
		<url-pattern>/member/alarmCount</url-pattern>
		<url-pattern>/member/cartList</url-pattern>
		<url-pattern>/member/cartDetailPay</url-pattern>
		<url-pattern>/member/cartDetailCustom</url-pattern>
		<url-pattern>/member/cartDetailGoods</url-pattern>
		<url-pattern>/member/updateConfirm</url-pattern>
		<url-pattern>/member/insertReview</url-pattern>
		<url-pattern>/member/insertReply</url-pattern>
		<url-pattern>/member/updateReply</url-pattern>
		<url-pattern>/member/deleteReply</url-pattern>
		<url-pattern>/member/membercheck</url-pattern>
		<url-pattern>/member/</url-pattern>
		<url-pattern>/member/</url-pattern>
		<url-pattern>/member/</url-pattern>
		<url-pattern>/member/</url-pattern>
		
		<url-pattern>/order/*</url-pattern>
		<url-pattern>/pay/kakao/*</url-pattern>
		<url-pattern>/member/cart</url-pattern>
		<url-pattern>/member/addCart</url-pattern>
		<url-pattern>/member/deleteCart</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>sellerBlockFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.DelegatingFilterProxy
		</filter-class>
	</filter>
	
<!-- 	<filter-mapping> -->
<!-- 		<filter-name>sellerBlockFilter</filter-name> -->
<!-- 		<url-pattern>/seller/management</url-pattern> -->
<!-- 		<url-pattern>/seller/info</url-pattern> -->
<!-- 		<url-pattern>/seller/info_edit</url-pattern> -->
<!-- 		<url-pattern>/seller/check_pw</url-pattern> -->
<!-- 		<url-pattern>/seller/change_pw_success</url-pattern> -->
<!-- 		<url-pattern>/seller/delete</url-pattern> -->
<!-- 		<url-pattern>/seller/customOrder</url-pattern> -->
<!-- 		<url-pattern>/seller/customSuccess</url-pattern> -->
<!-- 		<url-pattern>/seller/customListReq</url-pattern> -->
<!-- 		<url-pattern>/seller/customInfoReq</url-pattern> -->
<!-- 		<url-pattern>/seller/customListResp</url-pattern> -->
<!-- 		<url-pattern>/seller/updateResp</url-pattern> -->
<!-- 		<url-pattern>/seller/deleteReq</url-pattern> -->
<!-- 		<url-pattern>/seller/deleteResp</url-pattern> -->
<!-- 		<url-pattern>/seller/category_insert</url-pattern> -->
<!-- 		<url-pattern>/seller/category_info</url-pattern> -->
<!-- 		<url-pattern>/seller/category_update</url-pattern> -->
<!-- 		<url-pattern>/seller/category_delete</url-pattern> -->
<!-- 		<url-pattern>/seller/portfolio_insert</url-pattern> -->
<!-- 		<url-pattern>/seller/regist_success</url-pattern> -->
<!-- 		<url-pattern>/seller/change_pw</url-pattern> -->
<!-- 		<url-pattern>/seller/change_pw_success</url-pattern> -->
<!-- 		<url-pattern>/seller/main</url-pattern> -->
<!-- 	</filter-mapping> -->
	
</web-app>
