@charset "UTF-8";

	* {box-sizing: border-box;
		font-family: ProximaNova-Regular, NanumSquareR, sans-serif;
	}
	html,
	body{
		margin:0px;
		hieght: 100%;
	}
	.row-empty-20 {height: 20px;}
	.row-empty-40 {height: 40px;}
	
/* 웹폰트 설정
		1.폰트를 등록한다(@font-face)
		2.등록된 폰트를 설정한다(font-family)
		
	예시
	@font-face{
	    font-family:NotosanBlack;
	    src:url("../font/Notosan/NotoSansCJKkr-Black.otf");
*/

@font-face{
    font-family: sans-serif;
	src: url("../font/SansSerif.ttf");
}

@font-face{
	font-family: ProximaNova-Regular;
	src: url("../font/ProximaNova-Regular.otf");
}

@font-face{
	font-family: NanumSquareR;
	src: url("../font/NanumSquareR.ttf");
}


/* 자체제작 버튼스타일 1 : 흰배경, 테두리만 있음 */
 	.btn_custom {
 		border: 1px solid darkgray;
 		background-color: white;
 	}
	.btn_custom {
 		outline: none;
 	}
/* 자체제작 버튼스타일 2 : 배경, 테두리 없음, 밑줄있음(a태그 비슷한 형태) */
	.btn_clean {
		border: none;
		text-decoration: underline;
		background-color: rgba(0,0,0,0);
	}
	.btn_clean:focus {
		outline: none;
	}
	
}
