<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 
 <mapper namespace="Block">
 <!-- 차단된 판매자 리스트 조회-->
  <select id="seller" parameterType="BlockDto" resultType="int">
 select count(*) from block where block_id= #{seller_id} and block_group = '판매자'
 </select>
 <!-- 차단된 회원 리스트 조회-->
  <select id="member" parameterType="BlockDto" resultType="int">
 select count(*) from block where block_id= #{member_id} and block_group = '구매자'
 </select>
 

 
 
 
 
 </mapper>
 
 
 
 
 