<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 
 <mapper namespace="category">
	<!-- 카테고리 등록 -->
	<insert id="insert" parameterType="categoryDto">
		insert into category values(
			category_seq.nextval,
			#{category_large},
			#{category_middle},
			#{category_small}		
		)
	</insert>
	
	<!-- 카테고리 삭제 -->
	<delete id="delete" parameterType="int">
		delete category where category_no = #{category_no}
	</delete>
	
	<!-- 카테고리 단일 조회 -->
	<select id="get" parameterType="int" resultType="categoryDto">
		select * from category where category_no = #{category_no}
	</select>	
	
	<select id="getCategoryNo" parameterType="String" resultType="categoryDto">
		select * from category where category_small = #{category_name}
	</select>
	
	<!-- 카테고리 전체 조회 -->
	<select id="getList" resultType="categoryDto">
		select * from category
	</select>
	
	<!-- 카테고리 검색 -->
	<select id="searchLarge" resultType="String">
		select distinct category_large from category
	</select>
	
	<select id="searchMiddle" parameterType="String" resultType="String">
		select distinct category_middle from category where category_large = #{category_name} 
	</select>
	
	<select id="searchSmall" parameterType="String" resultType="String">
		select distinct category_small from category where category_middle = #{category_name}
	</select>
	
	<!-- 카테고리 번호로 판매자 검색 -->
	<select id="getSellerNo" parameterType="int" resultType="com.kh.ordering.entity.SellerCategoryDto">
		select seller from seller_category where category=#{category_no}
	</select>
	
 </mapper>