<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 
 <mapper namespace="goods_option">
 
 	<!-- 옵션 수량 조회 -->
 	<select id="getStock" parameterType="int" resultType="int">
 		select goods_option_stock from goods_option where goods_option_no = #{goods_option_no}
 	</select>
 
 	<!-- 옵션 수량 감소 -->
 	<update id="minusStock" parameterType="goodsOptionStockVO">
 		update goods_option set goods_option_stock = goods_option_stock - #{goods_option_stock} where goods_option_no = #{goods_option_no}
 	</update>
 	
 	<!-- 옵션 수량 증가 -->
 	<update id="plusStock" parameterType="goodsOptionStockVO">
 		update goods_option set goods_option_stock = goods_option_stock + #{goods_option_stock} where goods_option_no = #{goods_option_no}
 	</update>
 	
	<!-- 상품 옵션 등록 -->
	<insert id="insert" parameterType="goodsOptionDto">
		insert into goods_option values(
			goods_option_seq.nextval,
			#{goods_no},
			#{goods_option_title},
			#{goods_option_content},
			#{goods_option_price},
			#{goods_option_stock},
			#{goods_option_status}
		)
	</insert>
	
	<insert id="insertAll" parameterType="list">
		<foreach collection="list" item="goodsOptionDto" index="index" open="insert all" close="select * from dual">
			into goods_option values(
				get_goods_option_seq,
				#{goodsOptionDto.goods_no},
				#{goodsOptionDto.goods_option_title},
				#{goodsOptionDto.goods_option_content},
				#{goodsOptionDto.goods_option_price},
				#{goodsOptionDto.goods_option_stock},
				#{goodsOptionDto.goods_option_status}
			)
		</foreach>
	</insert>
	
	<!-- 상품 옵션 삭제 -->
	<delete id="delete" parameterType="int">
		delete goods_option where goods_option_no = #{goods_option_no}
	</delete>
	
	<!-- 상품 옵션 단일 조회 -->
	<select id="get" parameterType="int" resultType="goodsOptionDto">
		select * from goods_option where goods_option_no = #{goods_option_no}
	</select>	
	
	<!-- 상품 옵션 전체 조회 -->
	<select id="getList" resultType="goodsOptionDto">
		select * from goods_option where goods_option_status = 'Y'
	</select>
	
	<!-- 상품 번호로 검색  -->
	<select id="search" resultType="goodsOptionDto">
		select * from goods_option where goods_no = #{goods_no}
	</select>
	
<!-- 	<resultMap type="goodsOptionVO" id="getGoodsOptionVO"> -->
<!-- 		<result column="goods_option_title" property="goods_option_title"/> -->
		
<!-- 		<collection property="goodsOptionList" javaType="list" -->
<!-- 					ofType="goodsOptionDto" select="getGoodsOption" column="goodsOptionDto"></collection> -->
<!-- 	</resultMap> -->
	
<!-- 	<select id="getGoodsOptionVOList" parameterType="int" resultMap="getGoodsOptionVO"> -->
<!-- 		select distinct * from goods_option where goods_no = ${goods_no} -->
<!-- 	</select> -->
	
<!-- 	<select id="getGoodsOption" parameterType="int" resultType="goodsOptionDto"> -->
<!-- 		select * from goods_option where goods_no = #{goodsOptionDto.goods_no} -->
<!-- 	</select> -->
	
	<select id="getGoodsOpionTitleList" parameterType="int" resultType="String">
		select distinct goods_option_title from goods_option where goods_no = #{goods_no}
	</select>
	
	<select id="getGoodsOptionList" parameterType="map" resultType="goodsOptionDto">
		select * from goods_option where goods_no = #{goods_no} and goods_option_title = #{goods_option_title}
	</select>
	
 </mapper>