<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <!-- 
 	명령을 전달하기 위한 파일 
 	namespace : 영역을 부르는 별칭
 	parameterType : 이 명령을 실행하기 위해 필요한 데이터의 형태
 	resultType : 기대되는 결과물의 형태 (목록이든 아니든 dto 형태로 표기)
 	
 	부등호(<,>,=)를 쓰고 싶다면 
 	<![CDATA[
 	이곳에 명령어를 넣는다
 	]]> 
	
	형태에 따라 파라미터를 다르게 설정할 수 있다
	- #은 형태를 추론해 자동으로 따옴표 설정 및 인코딩 처리를 수행
	- $는 값을 있는 그대로 출력하는 명령이므로 주로 "항목"에 사용
		-$의 경우 SQL Injection 이라는 해킹 공격에 매우 취약하므로 사용에 주의
		
		##이건 안쓰는 테스트용입니다
 -->

 
 <mapper namespace="member">
 <!-- session id로 회원 번호 구하기-->
 	<select id="getNo" parameterType="String" resultType="int">
 		select member_no from member where member_id = #{member_id}
 	</select>
 	
 <!-- 회원 요청서 sql -->
 	<!-- 요청서 작성 -->
	<insert id="customReq" parameterType="customOrderDto">
		insert into custom_order
						(custom_order_no,
						custom_order_title, custom_order_content, custom_order_date,
						custom_order_price, custom_order_hopedate,
						custom_order_status, custom_order_type)
			values(custom_order_seq.nextval,
						#{custom_order_title}, #{custom_order_content}, sysdate,
						#{custom_order_price}, #{custom_order_hopedate},
						'진행 중', '요청서')
	</insert>
	
	<!-- 요청서 시퀀스번호 -->
	<select id="customSeq" resultType="int">
		select custom_order_seq.currval from dual
	</select>
	
	<!-- 요청서 관리 테이블 등록-->
	<insert id="customInsert" parameterType="memberCustomDto">
		insert into member_custom_order	values(member_custom_order_seq.nextval, #{member_no}, #{custom_order_no})
	</insert>
	
	<!-- 견적서 도착 알람 -->
	<insert id="insertAlarm">
		insert into member_alarm(member_alarm_no, member_no, seller_custom_order_no,
												member_alarm_check, member_alarm_delete)
								values(member_alarm_seq.nextval, #{member_no}, #{seller_custom_order_no},
											'N', 'N')
	</insert>


	<!-- 전체 견적서 보기(카테고리 미구현) -->
	<select id="getListCustom" resultType="customOrderVO">
		select *from seller_custom_view
	</select>	
	<!-- 내가 보낸 요청서만 보기 -->
	<select id="getListReq" parameterType="int" resultType="customOrderVO">
		select *from member_custom_view where member_no =#{member_no}
	</select>
	
	<!-- 요청서 삭제 -->
	<delete id="deleteCustom" parameterType="int">
		delete member_custom_order where member no=#{member_no} 
	</delete>
 </mapper> 




