<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd"> 
 
 
  <configuration>
  <!-- 이건 꼭 있어야 한다 -->
	<!-- 기본 운영 설정 -->
 	<settings>
 		<setting name="cacheEnabled" value="true"/>
 		<setting name="defaultStatementTimeout" value="10000"/>
 	</settings>
 	<typeAliases>
 		
 		<!-- 페이징 -->
 		<typeAlias type="com.kh.ordering.vo.PagingVO" alias="pagingVO"/>

		<!-- 판매자 Dto Alias--> 		
 		<typeAlias type="com.kh.ordering.entity.SellerDto" alias="seller"/>	
 		
 		<!-- 주문제작 Dto Alias -->
 		<typeAlias type="com.kh.ordering.entity.MemberDto" alias="memberDto"/>
		<typeAlias type="com.kh.ordering.entity.Member_PointDto" alias="member_PointDto"/>
 		
		<typeAlias type="com.kh.ordering.entity.CustomOrderDto" alias="customOrderDto"/>
		<typeAlias type="com.kh.ordering.entity.MemberCustomOrderDto" alias="memberCustomDto"/>
		<typeAlias type="com.kh.ordering.entity.SellerCustomOrderDto" alias="sellerCustomDto"/>
		<typeAlias type="com.kh.ordering.entity.SellerCustomAlarmDto" alias="sellerAlarmDto"/>
		<typeAlias type="com.kh.ordering.entity.MemberCustomAlarmDto" alias="memberAlarmDto"/>
		<typeAlias type="com.kh.ordering.vo.CustomOrderVO" alias="customOrderVO"/>
		
		<!-- 상품+옵션 Alias -->
 		<typeAlias type="com.kh.ordering.entity.GoodsDto" alias="goodsDto"/>
 		<typeAlias type="com.kh.ordering.entity.GoodsOptionDto" alias="goodsOptionDto"/>
 		<typeAlias type="com.kh.ordering.entity.CategoryDto" alias="categoryDto"/>

		<typeAlias type="com.kh.ordering.vo.GoodsVO" alias="goodsVO"/>
		<typeAlias type="com.kh.ordering.vo.GoodsOptionVO" alias="goodsOptionVO"/>
		<typeAlias type="com.kh.ordering.vo.GoodsVO" alias="goodsVO"/>
		
	</typeAliases>
 </configuration>

