<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd"> 
 
 
  <configuration>
  <!-- 이건 꼭 있어야 한다 -->
	<!-- 기본 운영 설정 -->
 	<settings>
 		<setting name="cacheEnabled" value="true"/>
 		<setting name="defaultStatementTimeout" value="10000"/>
 	</settings>
 	<typeAliases>
 		
 		<!-- 페이징, 파일 -->
 		<typeAlias type="com.kh.ordering.vo.PagingVO" alias="pagingVO"/>
 		<typeAlias type="com.kh.ordering.entity.FilesDto" alias="FilesDto"/>
 		<typeAlias type="com.kh.ordering.vo.FilesVO" alias="FilesVO"/>

		<!-- 판매자 Dto Alias--> 		
 		<typeAlias type="com.kh.ordering.entity.SellerDto" alias="seller"/>	
 		<typeAlias type="com.kh.ordering.entity.SellerCategoryDto" alias="sellerCategoryDto"/>
 		<typeAlias type="com.kh.ordering.entity.PortfolioDto" alias="portfolioDto"/>
 		
 		<!-- 회원 Dto, 관리자 문의 -->
 		<typeAlias type="com.kh.ordering.entity.MemberDto" alias="member"/>
		<typeAlias type="com.kh.ordering.entity.Member_PointDto" alias="member_PointDto"/>
 		<typeAlias type="com.kh.ordering.entity.Member_AddrDto" alias="member_AddrDto"/>
 		<typeAlias type="com.kh.ordering.entity.AdminQnaDto" alias="adminQnaDto"/>
 		
 		<!-- 주문제작 Dto Alias -->
		<typeAlias type="com.kh.ordering.entity.CustomOrderDto" alias="customOrderDto"/>
		<typeAlias type="com.kh.ordering.entity.MemberCustomOrderDto" alias="memberCustomDto"/>
		<typeAlias type="com.kh.ordering.entity.SellerCustomOrderDto" alias="sellerCustomDto"/>
		<typeAlias type="com.kh.ordering.entity.SellerCustomAlarmDto" alias="sellerAlarmDto"/>
		<typeAlias type="com.kh.ordering.entity.MemberCustomAlarmDto" alias="memberAlarmDto"/>
		<typeAlias type="com.kh.ordering.vo.CustomOrderVO" alias="customOrderVO"/>
		
		<!-- 상품+옵션 Alias -->
 		<typeAlias type="com.kh.ordering.entity.GoodsDto" alias="goodsDto"/>
 		<typeAlias type="com.kh.ordering.entity.GoodsOptionDto" alias="goodsOptionDto"/>
 		<typeAlias type="com.kh.ordering.entity.CategoryDto" alias="categoryDto"/>

		<typeAlias type="com.kh.ordering.vo.GoodsVO" alias="goodsVO"/>
		<typeAlias type="com.kh.ordering.vo.GoodsOptionVO" alias="goodsOptionVO"/>
		<typeAlias type="com.kh.ordering.vo.GoodsVO" alias="goodsVO"/>
		
		<typeAlias type="com.kh.ordering.vo.DeliveryVO" alias="deliveryVO"/>
		<typeAlias type="com.kh.ordering.entity.DeliveryDto" alias="deliveryDto"/>
		
		<typeAlias type="com.kh.ordering.vo.GoodsStockVO" alias="goodsStockVO"/>
		<typeAlias type="com.kh.ordering.vo.GoodsOptionStockVO" alias="goodsOptionStockVO"/>
		
		<!-- 상품 문의/리뷰게시판 -->
		<typeAlias type="com.kh.ordering.entity.GoodsQnaDto" alias="goodsQnaDto"/>
		<typeAlias type="com.kh.ordering.entity.GoodsReviewDto" alias="goodsReviewDto"/>
		<typeAlias type="com.kh.ordering.entity.GoodsReviewReplyDto" alias="goodsReviewReplyDto"/>
		
		<!-- pay -->
		<typeAlias type="com.kh.ordering.entity.PayDto" alias="payDto"/>
	
		<!-- visitcount -->
		<typeAlias type="com.kh.ordering.vo.VisitCountVO" alias="visitCount"/>
		
		<!-- 주문, 결제 정보 -->
		<typeAlias type="com.kh.ordering.vo.OrderVO" alias="orderVO"/>
		<typeAlias type="com.kh.ordering.vo.CartVO" alias="cartVO"/>
		<typeAlias type="com.kh.ordering.entity.CartInfoDto" alias="cartInfoDto"/>
		<typeAlias type="com.kh.ordering.entity.CartInfoGoodsDto" alias="cartInfoGoodsDto"/>
		<typeAlias type="com.kh.ordering.entity.CartInfoOpDto" alias="cartInfoOpDto"/>
		
		<!-- 주문내역 -->
		<typeAlias type="com.kh.ordering.vo.CartInfoVO" alias="cartInfoVO"/>
		<typeAlias type="com.kh.ordering.vo.CartDetailsVO" alias="cartDetailsVO"/>
		<typeAlias type="com.kh.ordering.entity.CartOkDto" alias="cartOkDto"/>
		
		<!-- 포인트 -->
		<typeAlias type="com.kh.ordering.vo.MemberPointVO" alias="memberPointVO"/>
		
		<!-- 장바구니 -->
		<typeAlias type="com.kh.ordering.entity.GoodsCartDto" alias="goodsCartDto"/>
		<typeAlias type="com.kh.ordering.entity.OptionCartDto" alias="optionCartDto"/>
		
		
		
	</typeAliases>
 </configuration>

