<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="order">
	<select id="getCartInfo" parameterType="String" resultType="cartInfoDto">
		select * from cart_info where partner_order_id = #{partner_order_id}
	</select>
	
	<select id="getCartInfoGoods" parameterType="int" resultType="cartInfoGoodsDto">
		select * from cart_info_goods where cart_info_no = #{cart_info_no}
	</select>
	
	<select id="getCartInfoOp" parameterType="int" resultType="cartInfoOpDto">
		select * from cart_info_op where cart_info_goods_no = #{cart_info_goods_no}
	</select>
	
	<!-- 회원 상품별 주문내역 정보 모두 가져오기 -->
	<select id="getCartInfoVO" parameterType="int" resultType="cartInfoVO">
 		select a.goods_no, a.goods_name,
 					b.cart_info_goods_no, b.cart_info_goods_price, b.cart_info_goods_quantity,
 					c.* from
			    goods A inner join cart_info_goods B on A.goods_no = B.goods_no
			    			inner join cart_info C on B.cart_info_no=C.cart_info_no
		    where C.member_no=#{member_no}
 	</select>
 	<!-- 상품별 구매확정 테이블 -->
	<select id="getOkList" parameterType="int" resultType="cartOkDto">
		select cart_ok.* from
		    cart_ok inner join cart_info_goods
		        on cart_ok.cart_info_goods_no = cart_info_goods.cart_info_goods_no
			where cart_ok.member_no=#{member_no}
	</select>
</mapper>