<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="seller_category">
	<!-- 카테고리 리스트 불러오기 -->
<select id="sellerGetCategoryList" parameterType="pagingVO" resultType="categoryDto">
		select * from(
			select rownum rn, A.* from(
				select * from category 
				order by category_large desc,
				category_middle, 
				category_small
			)A
		)where rn between #{start} and #{finish}
	</select>
	
	<!-- 카테고리 대 불러오기 -->
	<select id="categoryItemBig" resultType="categoryDto">
		select category_large from category group by category_large
	</select>
	<!-- 카테고리 중 불러오기 -->
	<select id="categoryItemMiddle" resultType="categoryDto">
		select category_middle from category group by category_middle
	</select>
	<!-- 카테고리 소 불러오기 -->
	<select id="categoryItemSmall" resultType="categoryDto">
		select category_small from category group by category_small
	</select>
	
	<!-- 카테고리 목록 총 갯수 가져오기 -->
	<select id="categoryCount" resultType="int">
		select count(*) from category 
	</select>	
	<!-- 카테고리 등록하기 -->
	<insert id="insert" parameterType="sellerCategoryDto">
		insert into seller_category values(
					#{category_no},
					#{seller_no})				
	</insert>
	<!-- 카테고리 번호 -->
	<select id="get_category_no" resultType="int" parameterType="CategoryDto">
	    select category_no from category where 
		     category_small = #{category_small} 
	</select>
	
	<!-- 판매자가 등록한 카테고리 조회하기 -->
	<select id="get_category_list" resultType="int">
		select DISTINCT category_no from seller_category where seller_no=#{seller_no}
    </select>
    
		<!-- 카테고리 리스트 -->
	<select id="get_category_name_list" resultType="CategoryDto">
		select category_large , category_middle , category_small , category_no from category where category_no in (
		<foreach item="item" collection="list" separator="," close=")">
				#{item}
		</foreach>
		
		
	</select>
	<insert id="insert2" parameterType="categoryDto"></insert>
	<!-- 카테고리 수정하기 -->
  <update id="update" parameterType="sellerCategoryDto">
		update seller_category set 
			category_no = #{category_no}
		where category_no=#{category_no} 
		         and
		               seller_no=#{selller_no}
				
	</update>
<!--카테고리 삭제하기  -->
	<delete id="delete" parameterType="int">
		delete seller_category where category_no = #{category_no} and seller_no=#{seller_no}
	</delete>
 
 
 </mapper> 