<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <!-- 
 	명령을 전달하기 위한 파일 
 	namespace : 영역을 부르는 별칭
 	parameterType : 이 명령을 실행하기 위해 필요한 데이터의 형태
 	resultType : 기대되는 결과물의 형태 (목록이든 아니든 dto 형태로 표기)
 	
 	부등호(<,>,=)를 쓰고 싶다면 
 	<![CDATA[
 	이곳에 명령어를 넣는다
 	]]> 
	
	형태에 따라 파라미터를 다르게 설정할 수 있다
	- #은 형태를 추론해 자동으로 따옴표 설정 및 인코딩 처리를 수행
	- $는 값을 있는 그대로 출력하는 명령이므로 주로 "항목"에 사용
		-$의 경우 SQL Injection 이라는 해킹 공격에 매우 취약하므로 사용에 주의
 -->
 

 <mapper namespace="seller"> <!-- 이건 꼭 있어야한다 -->
 <!-- 회원가입 구문 -->
 	<insert id="regist" parameterType="seller">
 		    insert into seller(
 										seller_no, seller_id, seller_pw, seller_name, seller_email, seller_phone, 
										seller_birth, seller_addr_post, seller_addr_basic, seller_addr_extra, 
										seller_store_name, seller_store_phone, seller_store_fax,
										seller_agree_date, seller_cid, seller_bank_code, seller_bank_account, 
										seller_bank_username,seller_bank_birth, seller_grade
						    			)
 		  					values(
 		                                     #{seller_no},   #{seller_id}, #{seller_pw}, #{seller_name}, 
 		                                     #{seller_email}, #{seller_phone}, #{seller_birth}, #{seller_addr_post},
 		                                     #{seller_addr_basic}, #{seller_addr_extra}, #{seller_store_name},
 		                                     #{seller_store_phone},#{seller_store_fax},
 		                                     to_date(sysdate, 'yyyy-mm-dd hh24:mi:ss' ),
 		                                     'cid', #{seller_bank_code}, #{seller_bank_account}, 
 		                                     #{seller_bank_username}, #{seller_bank_birth},
 		                                     '브론즈'
 		                                     )											
 		</insert>
 	<!-- seller_no 시퀀스 주기 -->
 	<select id="sequence" resultType="int">
 		 select seller_seq.nextval from dual 	
 	</select>
 	<!-- seller_cid를 seller_no로 쓰겠다 -->
<!--  	<select id="seller_cid" resultType="int"> -->
<!--  			select seller_cid -->
<!--  	</select> -->

<!-- 판매자 로그인 구문 -->
<!-- 비밀번호 암호화 -->
 	<select id="login" parameterType="seller" resultType="seller">
		select*from seller where seller_id =#{seller_id}
 	</select>
 </mapper> 













